%main-text {
  font-size: 15px;
  line-height: 1.9rem;
  font-family: $font-family-main;
}

%secondary-text {
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-family: $font-family-main;
}

%nav-link {
  font-size: 0.9rem;
  letter-spacing: 3px;
  line-height: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

%sub-title {
  font-size: 0.9rem;
  color: #d4b254;
  text-transform: uppercase;
}
